<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
    <h2>What is MVC?</h2>
    <ul>
      <li>Stands for Model, View, Controller</li>
      <li>MVC is a way of structuring our code and files to separate application functionality</li>
      <li>Keeps code more modular, reusable, and easier to read to promote organized programming</li>
    </ul>
  </div>
  <img src="/img/example.png" alt="">
  
  <!-- <div class="blogs content">
    <h2>All blogs</h2>
    <% if (blogs.length > 0){ %> 
      <% blogs.forEach(blog =>{ %>
        <a class='single' href="/blogs/<%= blog._id%>">
          <h3 class="title"><%= blog.title  %> </h3>
          <p class="snippet"><%= blog.snippet  %></p>
        </a>
      <% }) %> 
    <% } else {%>
      <p>There is nothing to display</p>
    <% } %> 
  </div> -->

  <!-- <%- include('./partials/footer.ejs') %>  -->
</body>
</html>